@charset "UTF-8";
/*  Paleta de Cores
    laranja:#E53E1A
    preto:
    amarero:#FA9F00  */
:root{
    --cor1:#E53E1A;
    --cor2:#FA9F00;
}
*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box ;
}
body, html{
    height: 100vh;
    width: 100vw;
    background-color: rgba(34, 34, 34, 0.856);
    color: white;
}
main{   
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
section#login{
    position:absolute;
    top: 50%;
    left: 50%;
    
    background-color: rgba(0, 0, 0, 0.411);
    width: 253px;
    height: 518px;
    border-radius: 20px;
    border: 1px solid var(--cor2);
    box-shadow: inset 0px 0px 5px #fa9e009a;
    overflow: hidden;

    transform: translate(-50%, -50%);
    transition: width 0.2s, height 0.2s;
    transition-timing-function: ease;
}
section#login > div#imagem{
    display: block;
    background-image:url(../imagens/imagem-site.jpg);
    background-size: cover;
    background-position: center;
    height: 200px;
    margin-bottom: 10px;
}
section#login > div#formulario{
    display: block;
    padding: 10px;
}
form > p.dados{
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 5px;
   
} 
form > input[type=submit]{
    display: block;
    font-size: 1em;
    width: 100%;
    height: 40px;
    background-color: var(--cor1);
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 7px;
}
form > input[type=submit]:hover{
    background-color: #a01f02;
}
form > a.botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 100%;
    height: 40px;
    padding-top: 5px;
    margin-top: 7px;
    background-color: var(--cor2);
    border: 1px solid yellow;
    border-radius: 5px;
    text-decoration: none;
    color: #a01f02;
}
form > a.botao:hover{
    background-color: #a01f02;
    color: var(--cor2);
}
p.campo > i{
    font-size: 2em;
    width: 40px;
    padding: 5px;
}
p.campo > input{
    background-color: gray;
    font-size: 1em;
    width: calc(100%-40px);
    height: 100%;
    border: 0px;
    border-radius: 8px;
    transform: translateY(-10px);

}
h1{
    margin-bottom: 5px;
    font-size: 1.3em;
}


    